@import 'libs/bootstrap-reboot.min';
@import 'libs/animate';
@import 'libs/fonts';
@import 'https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css';

@import 'base/variables';
@import 'base/animations';

*{
    font-family: Museo Sans Cyrl, sans-serif;
}

.container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/titles';
@import 'blocks/buttons';
@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantage';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';



@import 'media';
